.intro-container {
  height: 400px;
  margin-top: 20px;
  background-color: rgb(33, 37, 41);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.intro-btn {
  display: flex;
  padding: 15px;
  background-color: white;
  border: 2px solid black;
  color: #111;
  font-size: 15px;
  box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
  height: 58px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.intro-text {
  font-weight: bold;
  margin-bottom: 10px;
}

.intro-subText {
  font-size: 16px;
  margin-bottom: 20px;
}
